.popup {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-flow: column nowrap;
  justify-content: center; 
  align-items: center;
  margin: auto;
  z-index: 99;
  width: 100%;
  min-height: 100%;
}
