.profile__info {
  display: flex;
  position: relative;
  padding: 0;
  padding-left: 30px;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .profile__info {
    margin-top: 26px;
    padding: 0;
    justify-content: center;
  }
}
